@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    /* Palette de couleurs DUBASS */
    --color-dubass-blue: #2B3D88;
    --color-dubass-orange: #C25C26;
    --color-dubass-red: #dc2626;
    --color-dubass-light-blue: #4f6bdb;
    --color-dubass-gray: #6b7280;
}
